<div>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h1 my-0 mr-md-auto font-weight-normal>LF10-Starter</h1>
    Wenn Sie in der EmployeeListComponent.ts ein gültiges Bearer-Token eintragen, sollten hier die Namen der in der Datenbank gespeicherten Mitarbeiter angezeigt werden!
    <button class="btn btn-outline-primary">Logout</button>
  </div>
  <div>
    <button type="button" (click)="openNewEmployeeForm()">Neu hinzufügen</button>
  </div>
  <div>
    <ul>
      <li *ngFor="let e of employees$ | async">
        {{e.lastName }}, {{e.firstName}}
      </li>
    </ul>
  </div>
</div>
